img {
  width: initial;
  max-width: 100%;
}

/* 選單通用 */
.mainBar {
  width: 100%;
  margin-top: 15.5vw;
}
.btn-secondary::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.btn-secondary {
  background-image: linear-gradient(0deg, #397EB8 0%, #529FD1 33% , #56A6D1 100%);
}
.btn-check:focus+.btn-secondary, .btn-secondary:focus {
  box-shadow: none;
}
/* .btn-check:active+.btn-secondary, .btn-check:checked+.btn-secondary, .btn-secondary.active, .btn-secondary:active, .show>.btn-secondary.dropdown-toggle { */
.btn.btn-secondary:active {
  background-image: linear-gradient(to top, #0C658F, #09608F);
}
.btn-check:active+.btn-secondary:focus, .btn-check:checked+.btn-secondary:focus, .btn-secondary.active:focus, .btn-secondary:active:focus, .show>.btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}


/* 款式選單 */
.opportunity .btn {
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  height: 80px;
  width: 100%;
  border-radius: 0 !important;
}
.opportunity-menu {
  position: relative;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  height: 25vw;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 0.25rem;
}
.opportunity-menu.show {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.opportunity-menu img {
  max-height: 20vw;
}
.opportunity {
  width: 80%;
}


/* 時機選單 */
.mainBar .btn {
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  height: 100%;
  width: 100%;
  border-radius: 0 !important;
}
.shape-menu {
  position: relative;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  height: 25vw;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 0.25rem;
}
.shape-menu.show {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.shape-menu img {
  max-height: 20vw;
}

.shape {
  width: 20%;
}


@media screen and (min-width: 767px) {
  .mainBar {
    background-image: linear-gradient(0deg, #182C72 0%, #1B3283 25% , #1B3386 100%);
    margin-top: 60px;
    height: 60px;
  }
  .gg {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }
  /* 時機選單 */
  .opportunity a img:active {
    background-image: linear-gradient(0deg, #294199 0%, #1B3283 75% , #182C72 100%);
    transform: scale(1) !important;
    -webkit-transform: scale(1) !important;
  }
  .opportunity {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(0deg, #182C72 0%, #1B3283 25% , #1B3386 100%);
  }
  /* 款式選單 */
  .dropdown-menu {
    width: 100%;
    padding: 0.25rem;
  }
  .shape {
    height: 100%;
  }
}

@media screen and (min-width: 980px) {
  .mainBar {
    margin-top: 78.33333px;
    height: 68px;
  }
}

@media screen and (min-width: 1400px) {
  .mainBar {
    margin-top: 100px;
    height: 85px;
    /* max-width: 1440px; */
    /* margin-left: auto; */
    /* margin-right: auto; */
  }
  
  .shape {
    width: 280px;
  }
}



/* ver727 */
/* KV-479-767px */
.sec-1{
  width: 100%;
  height: auto;

}
.kv_block{
  bottom: -5%;
  z-index: 2;
}
.kv_font1{
  width: 28vw;
  top: 17% ;
  left: 43%;
}
.kv_font2{
  width: 45vw;
  top: 30% ;
  left: 50%;
}

.kv_product{
  width: 45vw;
  bottom: -5%;
  right: 5%;
  z-index: 2;
}

/* Body-1 */
.sec-2 {
  position: relative;
  height: 283vw;
}
.body_bg1{
  top: -18.5vw;
  z-index: -2;
}
.body_title_1{
  width: 65vw;
  padding-top: 8vw;
}

.body_title_2{
  width: 55vw;
  padding-top: 3vw;
}

.body_product{
  padding-top: 1.5vw;
  width: 48vw;
  padding-left: 5vw;
}

/* 球 */
.ball_1{
  top:30vw;
  left:5%;
}
.ball_size{
  width: 30vw;
}

.ball1_font1{
  top:24% ;
  right:24%;
  width:16vw ;
}
.ball1_font2{
  top:38% ;
  right:17%;
  width:20vw ;
}
.ball1_font3{
  top:58% ;
  right:5%;
  width:25vw ;
}

.ball_2{
  top:41vw;
  right:4%;
}
.ball2_font1{
  top:16% ;
  right:28%;
  width:13vw ;
}
.ball2_font2{
  top:36% ;
  right:5%;
  width:12vw ;
}
.ball2_font3{
  top:35% ;
  right:5%;
  width:26vw ;
}

.ball_3{
  top:62vw;
  left:14%;
} 
.ball3_font1{
  top:28% ;
  right:14%;
  width:20vw ;
}
.ball3_font2{
  top:26% ;
  right:15%;
  width:13vw ;
}
/* point */


.point1_font{
  top: 97vw ;
  right: 15%;
  width: 38vw;
}
.point1_paper{
  top: 98vw ;
  left: 13%;
  width: 33vw;
}
.point1_m1{
  width: 9vw;
  top: 101vw;
  left: 17.5% ;
}
.point1_m2{
  width: 7vw;
  top: 95vw;
  left: 23% ;
}
.point1_m3{
  width: 4vw;
  top: 94.5vw;
  left: 29% ;
}
.point2_font{
  width: 82vw ;
  top: 126vw;
  left: 14%;
}
.point3_font{
  width: 65vw;
  top: 164vw ;
  left: 21%; 
}
.point3_30{
  width: 9.6vw;
  top: 166vw ;
  left: 22.5%; 
}
.point3_m1{
  width: 5vw;
  top: 166vw ;
  left: 32.5%; 
}
.point3_m2{
  width: 6vw;
  top: 178.3vw;
  left: 30%; 
}

/* Body-2 */
.sec-3{
  margin-top: -15vw;
  position: relative;
}

.logo-1{
  bottom: 9.4%;
  left: 32%;
  width: 27vw;
}

.logo-2{
  bottom: 5.5%;
  left: 32%;
  width: 55vw;
}